<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title> {{ title }} </title>
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
{{!-- <meta name="viewport" content="width=device width"> --}}
</head>
<body>

<div class="center">
<h4>Below text is rendered via HBS sss</h4>

{{{ body }}}

<h4> Above text is rendered via HBS</h4>
</div>
</body>
</html>
